########################################
# DATA (CRITICAL - NEVER PUSH DATASETS)
########################################

data/
NLP/data/
**/data/raw/
**/data/interim/
**/data/processed/

# Large dataset formats
*.csv
*.parquet
*.feather
*.h5
*.hdf5

########################################
# PYTHON
########################################

__pycache__/
*.py[cod]
*$py.class

########################################
# VIRTUAL ENVIRONMENTS
########################################

venv/
.env/
.venv/
env/
.env

########################################
# JUPYTER
########################################

.ipynb_checkpoints/

########################################
# VS CODE
########################################

.vscode/

########################################
# MAC OS
########################################

.DS_Store

########################################
# LOG FILES
########################################

*.log

########################################
# MODEL FILES (ADD LATER IF NEEDED)
########################################

*.pkl
*.joblib
*.pt
*.pth
*.onnx

########################################
# TEMP FILES
########################################

tmp/
temp/